:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(37, 44, 54);
  --dark-blue: rgb(44, 47, 64);
  --dark-blue-2: rgb(65, 71, 94);
  --orange: rgb(207, 131, 5);

  --chat-border-radius: 20px;
}

html,
body {
  background-color: var(--dark);
}

body,
button,
input,
select,
textarea {
  font-family: 'Quicksand', sans-serif;
}

#landbot-app {
  max-height: 100vh;
  background-color: transparent;
}

.chat-container {
  width: 425px;
  height: calc(100vh - 3rem - 3rem);
  margin: 0 auto;
}

.landbot-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--chat-border-radius);
  background-color: var(--dark-blue);
}
